/*Color variables*/
$blue-color: #009EFD;
$lime-color: #85EB7D;
$light-green-color: #1AE4A6;
$grey-color: #727272;
$dark-grey-color: #3A3A3A;
$light-grey-color-second: #B0B0B0;
$lighter-grey-color: #FAFAFA;
$light-grey-color: #F2F2F4;
$white-color: #FFFFFF;
$coral-color: #FF6060;
$lime-linear-gradient: linear-gradient(91.67deg, #09C893 0%, #29FDB6 100%);

/*Font variables*/
$font-family-ui: 'Roboto', sans-serif;

