@import "base";

html {
  font-family: $font-family-ui;
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

.header {
  @extend .d-flex;
  justify-content: center;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 3rem;
    color: $lime-color;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__search {
    position: relative;
    width: 30rem;
    height: 3.6rem;
    overflow: hidden;

    input {
      width: 100%;
      height: 100%;
      border-radius: 20rem;
      padding: 1rem 3.2rem 1rem 2.2rem;
      outline: none;
      border: none;
      background-color: $light-grey-color;
      color: $dark-grey-color;
      font-size: 1.4rem;
    }

    img {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      z-index: 2;
      width: 1.9rem;
      height: 1.9rem;
    }

  }

  .container {
    @extend .d-flex;
    justify-content: space-between;
    width: 100%;
    height: 7.2rem;
  }
}

.main {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  min-height: calc(100vh - 7.2rem);
}

.drawer {
  color: $blue-color;
  position: relative;
  z-index: 4;
  height: 100%;
  width: 9rem;

  &__inner {
    position: absolute;
    left: -30rem;
    z-index: 2;
    display: flex;
    height: 100%;
    transition: all 0.2s ease;
  }

  &__inner.active {
    left: 0;
  }

  &__form {
    @extend .d-flex;
    flex-direction: column;
    width: 30rem;
    height: calc(100vh - 7.2rem);
    background-color: $white-color;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  }

  &__button {
    @extend .d-flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 90px;
    height: 90px;
    margin-top: 10rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: $white-color;
  }

  &__button::before {
    content: url("../assets/icons/arrow.png");
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 15px;
    height: 15px;
    transform: translate(0, -50%) rotate(180deg);
  }

  &__button.active::before {
    content: url("../assets/icons/arrow.png");
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: 15px;
    height: 15px;
    transform: translate(0, -50%);
  }

  &__button:hover {
    transform: translateX(0.2rem);
  }

  &__button.active:hover {
    transform: translateX(-0.2rem);
  }
}

.form {
  padding: 2rem 3rem;

  &__title {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
  }

  &__item-header {
    @extend .d-flex;
    justify-content: space-between;
  }

  &__textarea {
    height: 6.5rem;
    width: 100%;
    padding: 0.7rem 0.8rem;
    background-color: #F2F2F4;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    color: $grey-color;
    font-size: 1.4rem;
    font-weight: bold;
    resize: none;

    &::placeholder {
      color: #B7B6BB;
    }
  }

  &__buttons {
    @extend .d-flex;
    justify-content: center;
    gap: 1rem;
    margin-top: auto;
  }
}

.button {
  @extend .d-flex;
  justify-content: center;
  height: 4rem;
  width: 11rem;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  color: $grey-color;
  background-color: transparent;
  border: 1px solid $grey-color;

  &--green {
    color: $white-color;
    background-color: $light-green-color;
    border: none;
  }
}

.select {
  $self: &;
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  color: #8B8C94;
  font-weight: bold;

  &::before {
    content: url("../assets/icons/select-arrow.svg");
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
  }

  &__item {
    position: relative;
    width: 100%;
    padding: 0.2rem;
    border-bottom: 1px solid #D6D6D6;
    cursor: pointer;
  }

  &__item img {
    width: 1.5rem;
    height: 1.2rem;
    transform: translateY(0.1rem);
  }

  &__radio {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  &__content {
    width: 100%;
    display: none;

    #{$self}__item:hover {
      color: $blue-color;
      background-color: lighten($blue-color, 45%);
    }
  }

  &__content--visible {
    display: block;
  }
}

.back-blur {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 7.2rem);
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.5px);

  &.active {
    display: block;
  }
}

.lock {
  overflow: hidden;
}

/*Slider styles*/

#slider-round {
  height: 10px;
}

#slider-round .noUi-connect {
  background: $blue-color;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.noUi-handle.noUi-handle-lower::after,
.noUi-handle.noUi-handle-lower:before,
.noUi-handle.noUi-handle-upper:before,
.noUi-handle.noUi-handle-upper::after {
  display: none;
}

.slider-range {
  @extend .d-flex;
  justify-content: space-between;
  color: $grey-color;
  margin-top: 0.5rem;
}

.slider-range span:nth-child(2) {
  margin-left: 1.3rem;
}

.noUi-touch-area {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.noUi-touch-area::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/icons/trumb-icon.svg");
  background-size: cover;
}

/*Radio buttons group*/

.radio-buttons {
  $self: &;
  @extend .d-flex;
  justify-content: space-between;

  &__item {
    @extend .d-flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: $grey-color;

    &--active {
      color: $blue-color;
      font-weight: 700;
      cursor: pointer;
    }

    &:hover {
      @extend #{$self}__item--active;
    }
  }

  &__radio-btn {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;

    &:after {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 0.1rem solid #C4C4C4;
    }

    &:checked:after {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-image: url("../assets/icons/trumb-icon.svg");
      background-size: cover;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 0.1rem solid $blue-color;
    }
  }
}

/*user-info*/

img {
  max-width: 100%;
}

.none {
  display: none;
}

.user-info {
  height: 25.9rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);

  &__header {
    position: relative;
    width: 100%;
    height: 12rem;
    background-image: url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  &__city, &__age {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    color: $white-color;
  }

  &__city {
    top: 2rem;
    left: 2rem;
    max-width: 10rem;
  }

  &__age {
    @extend .d-flex;
    justify-content: center;
    top: 1.5rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: $light-green-color;
    border-radius: 50%;
    font-size: 1.8rem;
  }

  &__content {
    @extend .d-flex;
    flex-direction: column;
    position: relative;
    top: -1.1rem;
    min-height: 17rem;
    padding-top: 5rem;
    border-radius: 1rem;
    background-color: $white-color;
  }

  &__image {
    position: absolute;
    top: -4rem;
    left: 50%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.3rem solid $white-color;
    transform: translateX(-50%);
  }

  &__location {
    @extend .d-flex;
    justify-content: center;
    gap: 0.2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #8B8C94;

    img {
      width: 3rem;
    }

    span {
      transform: translateY(0.2rem);
    }
  }

  &__gender {
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 1.4rem;
    font-weight: 700;
    color: #8B8C94;

    span {
      transform: translateY(0.2rem);
    }
  }

  &__gender-icon {
    @extend .d-flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $light-grey-color;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3A3A3A;
  }

  &__nickname {
    color: $light-grey-color-second;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__contacts {
    margin-top: 1.3rem;
    width: 100%;
    height: 4rem;
    background-color: $light-green-color;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__contact-link {
    @extend .d-flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__contact-link:hover {
    background-color: lighten($light-green-color, 20%);
  }

  &__contact-link:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  &__contact-link:nth-child(1):after {
    background-image: url("../assets/icons/tel-icon.png");
  }

  &__contact-link:nth-child(2):after {
    background-image: url("../assets/icons/mail-icon.png");
  }
}

.main_content {
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 2rem;
  overflow-y: auto;
  $grid-layout-gap: 2rem;
  $grid-column-count: 4;
  $grid-item--min-width: 25rem;

  $gap-count: calc($grid-column-count - 1);
  $total-gap-width: calc($gap-count * $grid-layout-gap);
  $grid-item--max-width: calc(100% - $total-gap-width) / $grid-column-count;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max($grid-item--min-width, $grid-item--max-width), 1fr));
  grid-gap: $grid-layout-gap;

  @media (max-width: 768px) {
    padding: 2rem 5rem;
  }
}

